/* To adapt the css so that it fits the web browser, we always add those pre-settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    background-color: black;
    height: 90vh;
    display: flex;                
    align-items: center;         
}



body form{
    background-color: whitesmoke;
    width: 900px;
    margin: auto;
    padding: 1.875rem;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .625rem;
    font-size: medium;
    

}

body button{
    padding: .625rem;
    background-color: #1F75FE;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 8px;
}

.big-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

input{
    padding: .9375rem;
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 100%;      
    padding: 0.6rem;
    height: 50px;
}

.input-container label{
    font-size: small;
    font-weight: 600;
    letter-spacing: -0.0313rem;
}

.small-container {
    font-size: small;
    font-weight: 600;
    letter-spacing: -0.0313rem; 
}